@model JSearch.ViewModels.SectionsViewModel
@{
    ViewBag.Title = "GetSections";
}

<h2>GetSections</h2>


<h2>Create New</h2>

@using (Html.BeginForm("SectionForm", "Sections", FormMethod.Get))
{
    @Html.HiddenFor(s => s.SelectedLawId)
    <div class="form-group">
        @Html.DisplayFor(s => s.SectionName)
        @Html.DropDownListFor(s => s.SelectedSection, new SelectList(Model.Sections, "SectionId", "SectionName"), "Select a Section", new { @class = "form-control", autofocus = "autofocus" })
    </div>
    <p>
        If you don't see your desired section here, Click <strong>Add Section</strong>.
    </p>
    <button type="submit" class="btn btn-primary">Add Section</button>
}

