@model JSearch.ViewModels.LawsViewModel
@{
    ViewBag.Title = "Laws";
}

<h2>Laws</h2>


@using (Html.BeginForm("Create","LawFiles",FormMethod.Post))
{
    <div class="form-group">
        @Html.DropDownListFor(m => m.SelectedLaw, new SelectList(Model.Laws, "LawId", "LawTitle"), "Select Law Type", new { @class = "form-control",autofocus="autofocus" })
        @Html.ValidationMessageFor(m => m.Laws)
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
}