@model JSearch.ViewModels.LawFilesViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create New</h2>

@using (Html.BeginForm("SectionForm","Sections"))
{
    <div class="form-group">
        @Html.DisplayFor(s => s.SectionName)
        @Html.DropDownListFor(s => s.SelectedSection, new SelectList(Model.Sections,"SectionId","SectionName"),"Select a Section",new {@class = "form-control",autofocus="autofocus"} )
    </div>
    <p>
        If you don't see your desired section here, Click <strong>Add Section</strong>.
    </p>
    <button type="submit" class="btn btn-primary">Add Further Subsection</button>
}
<br />
<a href="@Url.Action("FileForm","LawFiles",new { sectionId = Model.SelectedSection })" class="btn btn-primary">Add File</a>