@model List<string>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Downloads</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <th>File Name</th>
                <th>Download Link</th>
            </tr>
            @for (int i = 0; i <= Model.Count - 1; i++)
            {
                <tr>
                    <td>
                        @Model[i].ToString()
                    </td>
                    <td>
                        @Html.ActionLink("Download", "Download", new { FileName= Model[i].ToString()})
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
