@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Punjab Judicial Academy, Lahore.</h1>   
</div>

<div class="row">
    <div class="col-md-12">
        <div id="remote">
            <input class="form-control typeahead " type="text" placeholder="Search Judgements" />
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            var files = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('FileTitle'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: 'http://202.142.179.246/JSearch/api/Search?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#remote .typeahead').typeahead({
                minLength: 3,
                highlight : true
            },
                {
                name: 'LawFiles',
                display: 'FileTitle',
                source: files
            });
        });
    </script>
    }